[mysqld]
port = 3306
server-id = 1
socket = /data/mysql/mysql.sock
user= mysql
back_log = 384
basedir = /usr/local/mysql
bind-address = 0.0.0.0
binlog_format = mixed
bulk_insert_buffer_size = 8M
character-set-server = utf8mb4
datadir = /data/mysql
expire_logs_days = 4
explicit_defaults_for_timestamp  = 1
init-connect = 'SET NAMES utf8mb4'
###################################
default_storage_engine = InnoDB
innodb_file_per_table = 1
innodb_buffer_pool_dump_at_shutdown = 1
innodb_buffer_pool_load_at_startup = 1
innodb_buffer_pool_size = 500M
innodb_write_io_threads = 4
innodb_read_io_threads = 4
innodb_purge_threads = 1
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 2M
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120
interactive_timeout = 28800
innodb_sort_buffer_size = 60M

innodb_log_files_in_group = 3
innodb_log_file_size = 32M
innodb_open_files =65535
innodb_thread_concurrency = 0

####################################

[mysqldump]
in_buffer_size = 10M
key_buffer_size = 150M
log_bin = /backup/binlog_dir/mysql-bin
log_bin_trust_function_creators=1
log_error = /data/mysql/mysql-error.log
long_query_time = 3
max_allowed_packet = 256M
max_connections = 768
myisam_max_sort_file_size = 1G
myisam_repair_threads = 1
myisam_sort_buffer_size = 512M
open_files_limit = 400000
performance_schema = 0
pid-file = /data/mysql/mysql.pid
query_cache_size = 324M
query_cache_type = 1
read_buffer_size = 10M
skip-external-locking
skip-name-resolve
slow_query_log = 1
slow_query_log_file = /data/mysql/mysql-slow.log
sort_buffer_size = 10M
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
table_open_cache = 256
thread_cache_size = 64
thread_concurrency = 8
tmp_table_size = 200M
preload_buffer_size = 10M
read_rnd_buffer_size = 50M
max_delayed_threads = 100
#max_insert_delayed_threads=100
delayed_queue_size=3000
delayed_insert_limit=50

user=xxxx
password=xxxx

